# Excluye carpetas de MCUXpresso Workspace
*.metadata
*.mcuxpressoide_packages_support
*.launch

# Excluye carpeta FreeRTOS_TAD_logs
/FreeRTOS_TAD_logs/

# Excluye carpeta temporal Debug/Release
/FRDM_KL02Z_mma8451/Debug/
/FRDM_KL02Z_mma8451/Release/
/FRDM_KL02Z_mma8451/doc/